@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
span::selection,
a::selection,
br::selection {
  background-color: #EAC989;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.modal-custom {
  padding: 25px;
}

.modal-custom .modal-custom-header {
  font-family: "Bodoni Moda", serif;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ruler-table table tr th {
  color: #444444;
  padding: 10px;
  font-weight: 700;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
  background-color: #f9f9f9;
  border-color: rgba(0, 0, 0, 0.08);
}

.ruler-table table tr:nth-child(2n) td {
  background: rgba(0, 0, 0, 0.01);
}

.ruler-table table tr td {
  border-color: rgba(0, 0, 0, 0.08);
  padding: 10px;
  text-align: center;
  border-width: 1px;
  vertical-align: top;
}

.MuiDialog-paper {
  max-width: 100% !important;
}
