.ruler-chart-wrapper {
    .ruler-btn {
        color: #cfb481;
        font-size: 17px;
        cursor: pointer;
        padding: 10px 0;
        &:hover {
            text-decoration: underline;
        }
    }
}